---
export interface Props {
  title: string;
  text: string;
  href: string;
}

const { title, text, href } = Astro.props;
---

<li class="custom-card">
  <a href={href}>
    <p>
      {title}
    </p>
    <p2>
      {text}
    </p2>
  </a>
</li>

<style>
  .custom-card {
    list-style: none;
    display: flex;
    padding: 0.25rem;
    background-color: white;
    background-image: none;
    border-radius: var(--border-radius);
    transition: background-position 1s cubic-bezier(0.84, 0.37, 0.3, 0.79);
  }

  .custom-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
  }

  .custom-card:hover {
    background-image: var(--blue-gradient);
  }

  a,
  a:hover {
    color: #111;
    text-decoration: none;
  }

  p,
  p2 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
</style>
