---
import TypedText from "../components/TypedText.astro";
import { Content as AboutMe } from "../content/about-me.mdx";
import "./src/css/main.css";
---

<section class="hidden first">
  <div class="flex">
    <div>
      <img id="avatar-img" alt="avatar" src="./public/penrose.jpg" />
    </div>
    <div>
      <TypedText />
      <AboutMe />
    </div>
  </div>
</section>

<style>
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #avatar-img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
  }

  #horizontal {
    display: none;
  }

  @media (min-width: 641px) {
    /* big landscape tablets, laptops, and desktops */
  }

  @media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .flex {
      flex-direction: row;
      gap: 4rem;
    }
  }
</style>
