---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h2 class="margin-top">
  {text}
</h2>

<style>
  .margin-top {
    margin-top: var(--margin-subtitles);
  }
</style>
