<div class="vtl">
  <slot />
</div>

<style>
  .vtl {
    position: relative;
    padding: 10px 10px 10px 50px;
  }
  .vtl,
  .vtl * {
    box-sizing: border-box;
  }

  .vtl::before {
    content: "";
    width: 5px;
    background-color: var(--secondary-color);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
  }
</style>
