<h1 id="title-occupation">
  Hi, I'm a <span id="dynamic-typing" class="blue-gradient"></span>
</h1>

<script>
  import Typed from "typed.js";

  var typed = new Typed("#dynamic-typing", {
    strings: [
      "Fullstack developer",
      "Frontend developer",
      "Backend developer",
      "Software developer",
    ],
    typeSpeed: 80,
  });
</script>
